#gallery {
  background: #333;
  display: none;
  align-items: center;
  justify-content: center;
}

body.has-gallery.gallery #gallery {
  display: flex;
}

#image, #video, #audio, #text {
  display: none;
  max-width: 100%;
  margin: 0 auto 0 auto;
}

#video:focus, #audio:focus {
  outline: none;
}

#audio {
  width: 100%;
}

#text {
  color: #000000;
  background-color: #ffffff;
}

#gallery.video #video {
  display: block;
}

#gallery.image #image {
  display: block;
}

#gallery.audio #audio {
  display: block;
}

#gallery.text #text {
  display: block;
}

#controls {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.paginator {
  position: absolute;
  width: 100px;
  opacity: 0;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.paginator:active {
  background-color: #000000;
  opacity: 0.7;
}

#page-back {
  top: 0;
  left: 0;
  height: 100px;
}

#page-next {
  top: 0;
  right: 0;
  height: 100px;
}

#page-back-10 {
  top: 0;
  left: 100px;
  height: 100px;
}

#page-next-10 {
  top: 0;
  right: 100px;
  width: 100px;
  height: 100px;
}

#page-jump-listing {
  top: 0;
  right: 200px;
  left: 200px;
  height: 100px;
  width: auto;
}

#page-max-item {
  top: 100px;
  left: 0;
  height: 100px;
}

@media screen and (max-width: 767px) {
  #gallery.video, #gallery.audio, #gallery.text {
    padding: 0;
  }

  .paginator {
    font-size: 20px;
  }

  #page-back-10 {
    top: 0;
    bottom: auto;
    left: 75px;
    height: 75px;
    width: 75px;
  }

  #page-next-10 {
    top: 0;
    right: 75px;
    bottom: auto;
    height: 75px;
    width: 75px;
  }

  #page-back {
    bottom: auto;
    height: 75px;
    width: 75px;
  }

  #page-next {
    bottom: auto;
    height: 75px;
    width: 75px;
  }

  #page-jump-listing {
    top: 0;
    right: 150px;
    bottom: auto;
    left: 150px;
    height: 75px;
  }

  #page-max-item {
    top: 75px;
    left: 0;
    width: 75px;
    height: 75px;
  }
}

@media screen and (max-width: 479px) {
  #page-back-10 {
    display: none;
  }

  #page-next-10 {
    display: none;
  }

  #page-back {
    width: 75px;
  }

  #page-next {
    width: 75px;
  }

  #page-jump-listing {
    right: 75px;
    left: 75px;
  }

  #page-max-item {
    width: 75px;
  }
}

@media screen and (min-width: 768px) {
  .paginator:hover {
    background-color: #000000;
    opacity: 0.4;
    cursor: pointer;
  }
}