%img#image
%video#video{autoplay: true, controls: true}
%audio#audio{autoplay: true, controls: true}
#text
  %a#text-anchor{href: '#'}
  #text-content
#page-back.paginator ◀
#page-next.paginator ▶
#page-back-10.paginator ◀◀
#page-next-10.paginator ▶▶
#page-max-item.paginator ⤡
#page-jump-listing.paginator 🔗 Listing