#controls
  #page-back.paginator ◀
  #page-back-10.paginator ◀◀
  #page-max-item.paginator ⤡
  #page-jump-listing.paginator 🔗 Listing
  #page-next-10.paginator ▶▶
  #page-next.paginator ▶
#content
  %img#image
  %video#video{controls: true}
  %audio#audio{controls: true}
  #text
    %a#text-anchor{href: '#'}
    #text-content
