%h1 Listing of #{url_root}#{url_path}
#search-wrapper
  %input#search{type: 'search'}
.table-wrapper
  %table
    %thead
      %tr
        %th.sortable.sort-active.sort-asc{data: { sort_method: 'name', sort_direction: 'asc' }}
          %a{href: "#"} Name
        %th.new-tab
        %th.type.sortable{data: { sort_method: 'type', sort_direction: 'asc'}}
          %a{href: "#"} Type
        %th.size.sortable{data: { sort_method: 'size', sort_direction: 'asc'}}
          %a{href: "#"} Size
        %th.modified.sortable{data: { sort_method: 'mtime', sort_direction: 'asc'}}
          %a{href: "#"} Modified
  #listing-container